@import "tailwindcss";

@theme {
  --font-serif: "Playfair Display", serif;
  --font-sans: "Inter", sans-serif;
  --color-cream: #FDFBF7;
}

body {
  background-color: var(--color-cream);
  color: #1c1917; /* stone-900 */
  font-family: var(--font-sans);
}

h1, h2, h3, h4, h5, h6, .font-serif {
  font-family: var(--font-serif);
}

.custom-scrollbar::-webkit-scrollbar { width: 4px; }
.custom-scrollbar::-webkit-scrollbar-track { background: transparent; }
.custom-scrollbar::-webkit-scrollbar-thumb { background: #e5e7eb; border-radius: 10px; }
